[submodule "ds/libdsmi/dserial"]
	path = ds/libdsmi/dserial
	url = https://github.com/LeviathaninWaves/dserial
[submodule "ds/libdsmi/tinyusb"]
	path = ds/libdsmi/tinyusb
	url = https://github.com/LeviathaninWaves/tinyusb
